PORT=8080
DATABASE_URL="postgres://user:password@db:5432/quikchat?sslmode=disable"
REDIS_ADDRESS="redis:6379"
JWT_SECRET_KEY="a-very-secret-key-that-is-long-and-secure"
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=72h
MAX_GROUP_MEMBERS=50

