# Server Configuration
PORT=8080

# Database Configuration
DATABASE_URL="postgres://user:password@db:5432/quikchat?sslmode=disable"

# Redis Configuration
REDIS_ADDRESS="redis:6379"

# JWT Configuration
JWT_SECRET_KEY="your-super-secret-key"
JWT_ACCESS_TOKEN_EXPIRY_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRY_DAYS=7

